h1 {
    background: #ac87ff;
    padding: 5px 10px;
    border-radius: 180px;
    text-align: center;
    
}
img {
 width: 1200px;
    background: #fff;
    
}
body{
    background: #4776E6; 
}